/* -- GENERAL -- */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wrapper {
    font-family: 'Work Sans';
    max-width: 1000px;
    padding: 0 1.618em;
    margin: 2em auto auto;
    color: #211a1d;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}



/* -- UTILITY CLASSES -- */

.content-wrap {
    padding: 0;
}


/* -- HEADER -- */

.header__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: right;
}

.header__logo {
    background: url(../images/logo.png) no-repeat center / contain;
    height: 80px;
    width: 80px;
}

.header__title,
.header__subtitle {
    margin: 0;
}

.header__title {
    font-family: 'Futura';
    font-size: 2.827em;
    font-weight: 100;
    color: #4744ff;
}

.header__subtitle {
    font-size: 1.414em;
    color: #8075ff;
}

.header__underline {
    display: block;
    height: 3px;
    width: 100%;
    background: rgb(155, 146, 254);
    margin: 1.5em 0 0;
    border-radius: 10px;
}



/* -- CONTENT -- */

.content {
    padding: 1.618em 0 2em;
}

.featured-image {
    background: url(../images/featured-md.jpeg) center 60% / cover no-repeat;
    height: 400px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 #f9e9ff;
    filter: invert(0.15);
}



/* -- WORK SECTION -- */

.work {
    margin: 1.618em 0 0;
}

.work__title,
.item__title {
    font-size: 1.999em;
    margin: 0.354em 0;
}

.work__title {
    color: #8075ff;
}

.work__underline {
    display: block;
    height: 3px;
    width: 60px;
    background: rgb(155, 146, 254);
    margin: -5px 0 1em 0;
    border-radius: 10px;
}

.work__items {
    display: grid;
    grid-gap: 1em;
    /* 
    I include these comments above because it is a good example of how grid works (apparently):
        calc(33% - 1em) because it appears that grid does not include grid gap in the 33% calculation
            grid-template-columns: repeat(auto-fit, minmax(calc(33% - 1em), 1fr));
     */
    grid-template-columns: repeat(auto-fit, minmax(233px, 1fr));
    text-align: center;
}

.work__item {
    background: #f8f0fb;
    color: #8075ff;
    box-shadow: 0 2px 15px -2px #ccc;
    border-radius: 5px;
    transition: all 0.25s;
}

.work__item:hover {
    color: #8a2eff;
    box-shadow: 0 5px 33px -5px #bbb;
}

.work__item .item__thumbnail {
    border-radius: 5px 5px 0 0;
}



/* -- FOOTER -- */

footer {
    border-top: 1px solid #ccc;
}

.footer__wrapper {
    display: flex;
    padding: 2em 0;
    margin: 1em 0 0;
    color: #aaa;
}

.footer__icons {
    order: 1;
    margin-left: auto;
    font-size: 1.5em;
}

.icon:not(:last-child) {
    margin-right: 0.618em;
}

.icon {
    transition: all 0.25s;
}

.icon:hover {
    color: #4744ff;
}

/* 
TypeScale: (1.414 multiplier or 1:1.414 ratio)
0.354em, 0.5em, 0.707em, 1em, 1.414em, 1.999em, 2.827em, 3.998em
*/

/* 
Colors
#4744ff purple
#8a2eff blue
#211a1d black
#8075ff light blue
#f8f0fb purple white
*/